<div class="buscador-container">
    <!-- Sección de bienvenida -->
    <div class="welcome-section">
     <h1>Buscar Propiedades</h1>
     <h2>Hola, {{userName}}</h2>
     <p>¿Que deseas buscar en esta ocasión?</p>
   </div>
 
   <!-- Formulario -->
   <form (ngSubmit)="buscar()" class="form-container">
     <div class="form-group">
       <label for="nombre">Destino</label>
       <input class="form-select" type="text" id="nombre" placeholder="Destino" [(ngModel)]="filtros.nombre" name="nombre" />
     </div>
   
     <div class="form-group">
       <label for="ubicacion">Ubicación</label>
       <select class="form-select" id="ubicacion" [(ngModel)]="filtros.ubicacion" name="ubicacion">
         <option *ngFor="let ciudad of ciudades" [value]="ciudad">{{ ciudad }}</option>
       </select>
     </div>
   
     <div class="form-group">
       <label for="personas">Cantidad de personas</label>
       <input class="form-select" type="number" min="0" id="personas" placeholder="Personas" [(ngModel)]="filtros.personas" name="personas" />
     </div>
   
     <div>
       <button type="submit" class="form-btn">Buscar</button>
     </div>
   </form>
   
 
   <div class="finca-list">
     <!-- Componente de tarjeta de finca -->
     <app-finca-card
   *ngFor="let propiedad of propiedades"
   [fincaName]="propiedad.nombre"
   [description]="propiedad.descripcion"
   [precioPorDia]="propiedad.precioPorDia"
   [status]="propiedad.disponible"
   [ubicacion]="propiedad.ubicacion"
   [capacidad]="propiedad.capacidad"
   [image]="propiedad.imagen"
   (detalles)="verDetalles(propiedad.id)">
 </app-finca-card>
   </div>
     
 </div>
