<div class="container text-center container-buttons">
    <div class="row mb-3 buttons-row">
      <div class="col-12 col-md-4 col-sm-4">
        <app-button-temporal text="Usuarios" routerLink="/usuarios" ></app-button-temporal>
      </div>
      <div class="col-12 col-md-4 col-sm-4">
        <app-button-temporal text="Propiedades" routerLink="/propiedades" ></app-button-temporal>
      </div>
      <div class="col-12 col-md-4 col-sm-4">
        <app-button-temporal text="Solicitudes" routerLink="/solicitudes" ></app-button-temporal>
      </div>
    </div>
    <div class="row buttons-row">
      <div class="col-12 col-md-6 col-sm-6">
        <app-button-temporal text="Calificaciones" routerLink="/calificaciones" ></app-button-temporal>
      </div>
      <div class="col-12 col-md-6 col-sm-6">
        <app-button-temporal text="Pagos" routerLink="/pagos" ></app-button-temporal>
      </div>
    </div>
</div>